In [56]:
import pandas as pd 
import numpy as np

In [2]:
import os
os.chdir(r'/Users/teahupoo20/Documents/GitHub/data-ft-par-labs/Projects/Week-2')

In [3]:
atck=pd.read_csv('attacks.csv', engine='python')
atck

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
atck.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [5]:
atck.count()

Case Number               8702
Date                      6302
Year                      6300
Type                      6298
Country                   6252
Area                      5847
Location                  5762
Activity                  5758
Name                      6092
Sex                       5737
Age                       3471
Injury                    6274
Fatal (Y/N)               5763
Time                      2948
Species                   3464
Investigator or Source    6285
pdf                       6302
href formula              6301
href                      6302
Case Number.1             6302
Case Number.2             6302
original order            6309
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

In [6]:
atck.isna()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25719,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25720,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25721,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25722,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [7]:
atck.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [8]:
atcknul=atck.isnull().sum()
atcknul[atcknul>0]

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [9]:
drop_atcknul= list(atcknul[atcknul>10000].index)

In [10]:
null_CN = atck[(atck['Case Number'].isnull()==True) & (atck['Name'].isnull()==True)]
null_CN

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
null_CL = atck[(atck['Case Number'].isnull()==True) & (atck['Location'].isnull()==True)]
null_CL

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## We start to select and drop columns

Starting with those which has all empty rows

In [59]:
atck.dropna(axis=0, how='all', inplace=True)
atck.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6310 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6302 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

## We change the display to maximum 24 columns instead of 20

In [28]:
pd.options.display.max_columns = 24

## Then we replace those having 0 as value in Case number with NaN to be harmonious

In [39]:
atck[atck['Case Number']=='0']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8697,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
atck['Case Number'].replace(['NaN'], np.nan, inplace=True) # we need numpy to all nan

In [60]:
atck.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
atck['Case Number'].value_counts()

1966.12.26        2
1915.07.06.a.R    2
1962.06.11.b      2
1990.05.10        2
1983.06.15        2
                 ..
2009.12.20.b      1
1905.02.10        1
2000.03.24        1
1940.02.22        1
1975.11.02        1
Name: Case Number, Length: 6286, dtype: int64

## We continue looking for useless columns

In [70]:
atck['Unnamed: 23'].value_counts()

Teramo             1
change filename    1
Name: Unnamed: 23, dtype: int64

## Then we drop these columns and assign a new variable

In [92]:
ndf=atck.drop(columns=['Unnamed: 22', 'Unnamed: 23','Investigator or Source', 'href formula','pdf', 'href','original order'])

In [93]:
ndf

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Case Number.1,Case Number.2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,2018.06.25,2018.06.25
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,2018.06.18,2018.06.18
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,2018.06.09,2018.06.09
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,2018.06.08,2018.06.08
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",2018.06.04,2018.06.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
ndf.dropna(axis=0, how='all', inplace=True)

In [103]:
ndf.sample(20)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Case Number.1,Case Number.2
6280,ND.0022,No date,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Pearl diving,Jaringoorli,M,NaN,Lacerations to thigh,N,NaN,NaN,ND.0022,ND.0022
3325,1972.09.04,04-Sep-1972,1972.0,Invalid,MOZAMBIQUE,Maputo Province,Inhaca Island,Swimming,Yvonne Vladislavick,F,20,Feet injured,NaN,NaN,Questionable incident,1972.09.04,1972.09.04
502,2014.09.03,03-Sep-2014,2014.0,Boating,USA,Massachusetts,"Manomet Point, Plymouth, Plymouth County",Kayaking,Ida Parker & Kristen Orr,F,20s,"No injury, shark bit kayak",N,18h00,"White shark, 12' to 14'",2014.09.03,2014.09.03
4644,1944.07.22,22-Jul-144,1944.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Hartenbos,Swimming,Albert Schmidt,M,17,"FATAL, body not recovered",Y,16h30,"White shark, according to witnesses",1944.07.22,1944.07.22
4782,1939.12.28,28-Dec-1939,1939.0,Invalid,AUSTRALIA,New South Wales,"Cabramatta Creek, Georgeï¿½s River",Swimming,Percy Carroll,M,40,Abrasion above knee,NaN,NaN,"Questionable incident, said to involve a 6' shark",1939.12.28,1939.12.28
2645,1990.02.17,17-Feb-1990,1990.0,Unprovoked,USA,Hawaii,"Mokapu, Kane'ohe Marine Air Corps Station, O'ahu",Scuba diving & spearfishing,Roy T. Tanaka,M,NaN,Right arm severed FATAL,Y,21h30,Two sharks seen in vicinity: 2.4 m & 4.25 m [...,1990.02.17,1990.02.17
363,2015.09.17,17-Sep-2015,2015.0,Unprovoked,USA,Florida,"Jacksonville Beach, Duval County",Surfing,Bryan Liebetrau,M,20,Injury to right foot,N,15h00,NaN,2015.09.17,2015.09.17
1389,2007.04.13.R,Reported 13-Apr-2007,2007.0,Boat,USA,Florida,"Florida Keys, Monroe County",Fishing,boat: 48' charter boat GonFishin V,NaN,NaN,"No injury to occupants, shark holed the transo...",N,NaN,"Bull shark, 10'",2007.04.13.R,2007.04.13.R
1707,2004.01.03.b,03-Jan-2004,2004.0,Invalid,NEW ZEALAND,North Island,"Whiritoa, Eastern Cormandel",Kayaking (returning from spearfishing),a male from Waikato,M,NaN,"No injury, no attack, shark took fish from bac...",NaN,Afternoon,Invalid,2004.01.03.b,2004.01.03.b
3431,1969.06.00,Jun-1969,1969.0,Unprovoked,USA,Florida,Sarasota County,Wading,"John Holmes, Jr.",M,8,No injury,N,20h00,NaN,1969.06.00,1969.06.00
4984,1932.08.06,06-Aug-1932,1932.0,Provoked,BAHAMAS,New Providence District,"Nassau, New Providence Island",On expedition filming a feature movie & standi...,George Vanderbilt,M,18,"No injury, hooked shark rammed tripod PROVOKED...",N,NaN,NaN,1932.08.06,1932.08.06
5465,1906.10.10.d.R,Reported 10-Oct-1906,1906.0,Unprovoked,USA,Hawaii,NaN,NaN,"an ""old native""",M,NaN,Buttock bitten,N,NaN,NaN,1906.10.10.d.R,1906.10.10.d.R
609,2013.10.24,24-Oct-2013,2013.0,Unprovoked,AUSTRALIA,New South Wales,South Narrabeen Beach,Surfing,Anthony Joyce,M,41,Injuries to right foot,N,18h15,Wobbegong shark,2013.10.24,2013.10.24
883,2011.08.17.a,17-Aug-2011,2011.0,Unprovoked,RUSSIA,"Telyakovsky Bay, Khasan, Primorsky Krai (Far ...",Vityaz,Swimming,Denis Udovenko,M,25,Hands severed,N,Evening,4 m shark,2011.08.17.a,2011.08.17.a
3694,1964.02.14.a,14-Feb-1964,1964.0,Unprovoked,FIJI,Vanua Levu,"Nailou Village, Tunuloa Natewa Bay",Spearfishing,Ivo Berabi,M,17,"FATAL, thigh and abdomen bitten",Y,10h30,NaN,1964.02.14.a,1964.02.14.a
4603,1946.02.16,16-Feb-1946,1946.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,"South Beach, Durban",Treading water,Ernest Tomson,M,21,Right arm severely lacerated,N,16h00,NaN,1946.02.16,1946.02.16
5126,1927.05.29,29-May-1927,1927.0,Sea Disaster,PHILIPPINES,Luzon Island,Bondoc Peninsula,Sea disaster,Inter island ferry Negros foundered during a t...,NaN,NaN,"55 perished, some were taken by sharks",Y,NaN,NaN,1927.05.29,1927.05.29
674,2013.05.23.a,23-May-2013,2013.0,Provoked,PALESTINIAN TERRITORIES,NaN,Gaza,Fishing,Hamed Salah,M,30,Two fingers lost PROVOKED INCIDENT,N,Evening,NaN,2013.05.23.a,2013.05.23.a
5693,1891.03.10,10-Mar-1891,1891.0,Unprovoked,PARAGUAY,NaN,NaN,Fleeing across a river,NaN,NaN,NaN,FATAL,Y,Night,NaN,1891.03.10,1891.03.10
3155,1977.02.26,26-Feb-1977,1977.0,Unprovoked,AUSTRALIA,New South Wales,"Kingscliffe Beach, south of Tweed Heads",Pushed surfmat of a young girl out of the shar...,Paul Howard,M,24,"Left hand, arm & leg lacerated, & shark bit ch...",N,NaN,4 m [13'] shark,1977.02.26,1977.02.26

## Now we have a relatively clean dataset

Lets calculate the frequency of missing data on some columns like fatal, time, species

In [104]:
mask = ndf.T.isna().sum()>ndf.shape[1] *90/100

In [91]:
atck[atck['Case Number.1'].isna()==True].count()

Case Number               1
Date                      0
Year                      0
Type                      0
Country                   0
Area                      0
Location                  0
Activity                  0
Name                      0
Sex                       0
Age                       0
Injury                    0
Fatal (Y/N)               0
Time                      0
Species                   0
Investigator or Source    0
pdf                       0
href formula              0
href                      0
Case Number.1             0
Case Number.2             0
original order            7
Unnamed: 22               0
Unnamed: 23               0
dtype: int64

In [85]:
atck.drop(columns='original order')

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
for i in drop_atcknul:
    atckt=atck.drop(atck[atck['Case Number'] == i].index)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adysonï¿½McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
drop_atcknul

[8702,
 8703,
 8704,
 8705,
 8706,
 8707,
 8708,
 8709,
 8710,
 8711,
 8712,
 8713,
 8714,
 8715,
 8716,
 8717,
 8718,
 8719,
 8720,
 8721,
 8722,
 8723,
 8724,
 8725,
 8726,
 8727,
 8728,
 8729,
 8730,
 8731,
 8732,
 8733,
 8734,
 8735,
 8736,
 8737,
 8738,
 8739,
 8740,
 8741,
 8742,
 8743,
 8744,
 8745,
 8746,
 8747,
 8748,
 8749,
 8750,
 8751,
 8752,
 8753,
 8754,
 8755,
 8756,
 8757,
 8758,
 8759,
 8760,
 8761,
 8762,
 8763,
 8764,
 8765,
 8766,
 8767,
 8768,
 8769,
 8770,
 8771,
 8772,
 8773,
 8774,
 8775,
 8776,
 8777,
 8778,
 8779,
 8780,
 8781,
 8782,
 8783,
 8784,
 8785,
 8786,
 8787,
 8788,
 8789,
 8790,
 8791,
 8792,
 8793,
 8794,
 8795,
 8796,
 8797,
 8798,
 8799,
 8800,
 8801,
 8802,
 8803,
 8804,
 8805,
 8806,
 8807,
 8808,
 8809,
 8810,
 8811,
 8812,
 8813,
 8814,
 8815,
 8816,
 8817,
 8818,
 8819,
 8820,
 8821,
 8822,
 8823,
 8824,
 8825,
 8826,
 8827,
 8828,
 8829,
 8830,
 8831,
 8832,
 8833,
 8834,
 8835,
 8836,
 8837,
 8838,
 8839,
 8840,
 8841,
 8842,
 8843,
 8844,
 8845,
 8846,
 8847,
 8848,
 8849,
 8850,
 8851,
 8852,
 8853,
 8854,
 8855,
 8856,
 8857,
 8858,
 8859,
 8860,
 8861,
 8862,
 8863,
 8864,
 8865,
 8866,
 8867,
 8868,
 8869,
 8870,
 8871,
 8872,
 8873,
 8874,
 8875,
 8876,
 8877,
 8878,
 8879,
 8880,
 8881,
 8882,
 8883,
 8884,
 8885,
 8886,
 8887,
 8888,
 8889,
 8890,
 8891,
 8892,
 8893,
 8894,
 8895,
 8896,
 8897,
 8898,
 8899,
 8900,
 8901,
 8902,
 8903,
 8904,
 8905,
 8906,
 8907,
 8908,
 8909,
 8910,
 8911,
 8912,
 8913,
 8914,
 8915,
 8916,
 8917,
 8918,
 8919,
 8920,
 8921,
 8922,
 8923,
 8924,
 8925,
 8926,
 8927,
 8928,
 8929,
 8930,
 8931,
 8932,
 8933,
 8934,
 8935,
 8936,
 8937,
 8938,
 8939,
 8940,
 8941,
 8942,
 8943,
 8944,
 8945,
 8946,
 8947,
 8948,
 8949,
 8950,
 8951,
 8952,
 8953,
 8954,
 8955,
 8956,
 8957,
 8958,
 8959,
 8960,
 8961,
 8962,
 8963,
 8964,
 8965,
 8966,
 8967,
 8968,
 8969,
 8970,
 8971,
 8972,
 8973,
 8974,
 8975,
 8976,
 8977,
 8978,
 8979,
 8980,
 8981,
 8982,
 8983,
 8984,
 8985,
 8986,
 8987,
 8988,
 8989,
 8990,
 8991,
 8992,
 8993,
 8994,
 8995,
 8996,
 8997,
 8998,
 8999,
 9000,
 9001,
 9002,
 9003,
 9004,
 9005,
 9006,
 9007,
 9008,
 9009,
 9010,
 9011,
 9012,
 9013,
 9014,
 9015,
 9016,
 9017,
 9018,
 9019,
 9020,
 9021,
 9022,
 9023,
 9024,
 9025,
 9026,
 9027,
 9028,
 9029,
 9030,
 9031,
 9032,
 9033,
 9034,
 9035,
 9036,
 9037,
 9038,
 9039,
 9040,
 9041,
 9042,
 9043,
 9044,
 9045,
 9046,
 9047,
 9048,
 9049,
 9050,
 9051,
 9052,
 9053,
 9054,
 9055,
 9056,
 9057,
 9058,
 9059,
 9060,
 9061,
 9062,
 9063,
 9064,
 9065,
 9066,
 9067,
 9068,
 9069,
 9070,
 9071,
 9072,
 9073,
 9074,
 9075,
 9076,
 9077,
 9078,
 9079,
 9080,
 9081,
 9082,
 9083,
 9084,
 9085,
 9086,
 9087,
 9088,
 9089,
 9090,
 9091,
 9092,
 9093,
 9094,
 9095,
 9096,
 9097,
 9098,
 9099,
 9100,
 9101,
 9102,
 9103,
 9104,
 9105,
 9106,
 9107,
 9108,
 9109,
 9110,
 9111,
 9112,
 9113,
 9114,
 9115,
 9116,
 9117,
 9118,
 9119,
 9120,
 9121,
 9122,
 9123,
 9124,
 9125,
 9126,
 9127,
 9128,
 9129,
 9130,
 9131,
 9132,
 9133,
 9134,
 9135,
 9136,
 9137,
 9138,
 9139,
 9140,
 9141,
 9142,
 9143,
 9144,
 9145,
 9146,
 9147,
 9148,
 9149,
 9150,
 9151,
 9152,
 9153,
 9154,
 9155,
 9156,
 9157,
 9158,
 9159,
 9160,
 9161,
 9162,
 9163,
 9164,
 9165,
 9166,
 9167,
 9168,
 9169,
 9170,
 9171,
 9172,
 9173,
 9174,
 9175,
 9176,
 9177,
 9178,
 9179,
 9180,
 9181,
 9182,
 9183,
 9184,
 9185,
 9186,
 9187,
 9188,
 9189,
 9190,
 9191,
 9192,
 9193,
 9194,
 9195,
 9196,
 9197,
 9198,
 9199,
 9200,
 9201,
 9202,
 9203,
 9204,
 9205,
 9206,
 9207,
 9208,
 9209,
 9210,
 9211,
 9212,
 9213,
 9214,
 9215,
 9216,
 9217,
 9218,
 9219,
 9220,
 9221,
 9222,
 9223,
 9224,
 9225,
 9226,
 9227,
 9228,
 9229,
 9230,
 9231,
 9232,
 9233,
 9234,
 9235,
 9236,
 9237,
 9238,
 9239,
 9240,
 9241,
 9242,
 9243,
 9244,
 9245,
 9246,
 9247,
 9248,
 9249,
 9250,
 9251,
 9252,
 9253,
 9254,
 9255,
 9256,
 9257,
 9258,
 9259,
 9260,
 9261,
 9262,
 9263,
 9264,
 9265,
 9266,
 9267,
 9268,
 9269,
 9270,
 9271,
 9272,
 9273,
 9274,
 9275,
 9276,
 9277,
 9278,
 9279,
 9280,
 9281,
 9282,
 9283,
 9284,
 9285,
 9286,
 9287,
 9288,
 9289,
 9290,
 9291,
 9292,
 9293,
 9294,
 9295,
 9296,
 9297,
 9298,
 9299,
 9300,
 9301,
 9302,
 9303,
 9304,
 9305,
 9306,
 9307,
 9308,
 9309,
 9310,
 9311,
 9312,
 9313,
 9314,
 9315,
 9316,
 9317,
 9318,
 9319,
 9320,
 9321,
 9322,
 9323,
 9324,
 9325,
 9326,
 9327,
 9328,
 9329,
 9330,
 9331,
 9332,
 9333,
 9334,
 9335,
 9336,
 9337,
 9338,
 9339,
 9340,
 9341,
 9342,
 9343,
 9344,
 9345,
 9346,
 9347,
 9348,
 9349,
 9350,
 9351,
 9352,
 9353,
 9354,
 9355,
 9356,
 9357,
 9358,
 9359,
 9360,
 9361,
 9362,
 9363,
 9364,
 9365,
 9366,
 9367,
 9368,
 9369,
 9370,
 9371,
 9372,
 9373,
 9374,
 9375,
 9376,
 9377,
 9378,
 9379,
 9380,
 9381,
 9382,
 9383,
 9384,
 9385,
 9386,
 9387,
 9388,
 9389,
 9390,
 9391,
 9392,
 9393,
 9394,
 9395,
 9396,
 9397,
 9398,
 9399,
 9400,
 9401,
 9402,
 9403,
 9404,
 9405,
 9406,
 9407,
 9408,
 9409,
 9410,
 9411,
 9412,
 9413,
 9414,
 9415,
 9416,
 9417,
 9418,
 9419,
 9420,
 9421,
 9422,
 9423,
 9424,
 9425,
 9426,
 9427,
 9428,
 9429,
 9430,
 9431,
 9432,
 9433,
 9434,
 9435,
 9436,
 9437,
 9438,
 9439,
 9440,
 9441,
 9442,
 9443,
 9444,
 9445,
 9446,
 9447,
 9448,
 9449,
 9450,
 9451,
 9452,
 9453,
 9454,
 9455,
 9456,
 9457,
 9458,
 9459,
 9460,
 9461,
 9462,
 9463,
 9464,
 9465,
 9466,
 9467,
 9468,
 9469,
 9470,
 9471,
 9472,
 9473,
 9474,
 9475,
 9476,
 9477,
 9478,
 9479,
 9480,
 9481,
 9482,
 9483,
 9484,
 9485,
 9486,
 9487,
 9488,
 9489,
 9490,
 9491,
 9492,
 9493,
 9494,
 9495,
 9496,
 9497,
 9498,
 9499,
 9500,
 9501,
 9502,
 9503,
 9504,
 9505,
 9506,
 9507,
 9508,
 9509,
 9510,
 9511,
 9512,
 9513,
 9514,
 9515,
 9516,
 9517,
 9518,
 9519,
 9520,
 9521,
 9522,
 9523,
 9524,
 9525,
 9526,
 9527,
 9528,
 9529,
 9530,
 9531,
 9532,
 9533,
 9534,
 9535,
 9536,
 9537,
 9538,
 9539,
 9540,
 9541,
 9542,
 9543,
 9544,
 9545,
 9546,
 9547,
 9548,
 9549,
 9550,
 9551,
 9552,
 9553,
 9554,
 9555,
 9556,
 9557,
 9558,
 9559,
 9560,
 9561,
 9562,
 9563,
 9564,
 9565,
 9566,
 9567,
 9568,
 9569,
 9570,
 9571,
 9572,
 9573,
 9574,
 9575,
 9576,
 9577,
 9578,
 9579,
 9580,
 9581,
 9582,
 9583,
 9584,
 9585,
 9586,
 9587,
 9588,
 9589,
 9590,
 9591,
 9592,
 9593,
 9594,
 9595,
 9596,
 9597,
 9598,
 9599,
 9600,
 9601,
 9602,
 9603,
 9604,
 9605,
 9606,
 9607,
 9608,
 9609,
 9610,
 9611,
 9612,
 9613,
 9614,
 9615,
 9616,
 9617,
 9618,
 9619,
 9620,
 9621,
 9622,
 9623,
 9624,
 9625,
 9626,
 9627,
 9628,
 9629,
 9630,
 9631,
 9632,
 9633,
 9634,
 9635,
 9636,
 9637,
 9638,
 9639,
 9640,
 9641,
 9642,
 9643,
 9644,
 9645,
 9646,
 9647,
 9648,
 9649,
 9650,
 9651,
 9652,
 9653,
 9654,
 9655,
 9656,
 9657,
 9658,
 9659,
 9660,
 9661,
 9662,
 9663,
 9664,
 9665,
 9666,
 9667,
 9668,
 9669,
 9670,
 9671,
 9672,
 9673,
 9674,
 9675,
 9676,
 9677,
 9678,
 9679,
 9680,
 9681,
 9682,
 9683,
 9684,
 9685,
 9686,
 9687,
 9688,
 9689,
 9690,
 9691,
 9692,
 9693,
 9694,
 9695,
 9696,
 9697,
 9698,
 9699,
 9700,
 9701,
 ...]

In [ ]:
atck.nunique()

In [ ]:
atck[atck['Case Number']== '2018.06.25'].value_counts()

In [ ]:
atck[atck['Case Number'].isna()>0].sample(100)

In [ ]:
atck[atck['Case Number'].isna()>0 & atck['Date'].isna()>0 ].sample(100)